<style>
    .file-link-container div {
        display: block;
    }
    .file-link {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }
    .file-link:hover {
        color: blue;
    }
    .file-link.current {
        background-color: yellow;
        color: blue;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        [...document.querySelectorAll('.file-link')].forEach(el=>{
            el.addEventListener('click', e=>{
                const url=e.target.dataset.url;
                window.location.pathname=url;
            });

            if (el.dataset.url===window.location.pathname)
                el.classList.add('current');
        })
    })
</script>
<div class="file-link-container">
    <%- include('./file-list.ejs'); %>
</div>